@import "normalize.css";

.navbar {
  position: sticky;
  top: 0;
  background-color: #333;
  padding: 0px 90px;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home-link {
  float: left;
}

.game-link {
  float: right;
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: #111;
}

.game {
  width: 40vw;
  padding: 20px 50px 10px 100px;
  float: left;
}

.game-info {
  width: 30vw;
  padding: 40px 100px 10px 50px;
  float: left;
}

.game-square {
  text-align: center;
  vertical-align: middle;
  border: 0.25px solid black;
  height: 8vh;
  width: 8vh;
}

.game-border {
  border: none;
}

.border-square {
  border: none;
  color: green;
  text-align: center;
  height: 8vh;
  width: 8vh;
}

.light {
  background: #eee;
}

.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.green {
  background-color: greenyellow
}

#game-error {
  color: red;
}
