@import "normalize.css";

@font-face {
  font-family: "Dejavu Sans";
  src: local("Dejavu Sans"),
       url("DejaVuSans.ttf");
}

.navbar {
  position: sticky;
  top: 0;
  background-color: #333;
  padding: 0px 6vw;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home-link {
  float: left;
}

.game-link {
  float: right;
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-item a:hover {
  background-color: #111;
}

.main-content {
  width: 84%;
  margin: 0 auto;
}

.game {
  display: inline-block;
  vertical-align: top;
  min-width: 96vh;
  padding: 20px 0px 0px 0px;
}

.game-info {
  display: inline-block;
  vertical-align: top;
  width: 30vw;
  padding: 40px 0px 0px 0px;
}

.game-border {
  border: none;
}

.game-square {
  text-align: center;
  font-family: "Dejavu Sans";
  font-size: 6.5vh;
  vertical-align: middle;
  border: 0.25px solid black;
  height: 8vh;
  width: 8vh;
  transition: all .3s ease-in-out;
}

.game-square:hover {
  transform: scale(1.025);
}

.move-from-square {
  background-color: antiquewhite !important;
}

.border-square {
  border: none;
  color: green;
  text-align: center;
  height: 8vh;
  width: 8vh;
}

.light {
  background: #eee;
}

.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.green {
  background-color: greenyellow
}

#game-error {
  color: red;
}

#game-winner {
  color: green
}
